body
{
    font-family: Arial, sans-serif;
    font-size: 11px;
}

body:hover .wdgtsetup
{
}

h1
{
    font-size: 13px;
}

.wdgtsetup
{
}

.infocircle
{
    width: 20px;
    height: 20px;
}

.infocircle svg
{
    width: 20px;
    height: 20px;
}

.info
{
    display: none;
}

.b-widget__control
{
    float: right;
    width: 12px;
    height: 12px;
}

.b-widget__control__setup i
{
    background: url("http://img.yandex.net/i/widget/widget.png") repeat-x scroll 0 0 transparent;
    overflow: hidden;
    position: absolute;
    background-position: 20px -12px;
    height: 12px;
    width: 12px;
}
a.b-widget__control__setup:hover i
{
    background-position: 20px -24px
}

.setup-submit
{
    display: none;
}
