.couplelog .gap i
{
    display: block;
    height: 0.5em;
    width: 0.5em;
}

.couplelog .title
{
    padding-right: 0.5em;
}

.couplelog h1
{
    text-align: center;
    background-color:#F9F9F9;
    margin: 0.25em 0 0.25em 0;
    padding: 0.1em 0 0.2em 0;
}

.couplelog h1:hover
{
    background-color: #e3e2e2;
    cursor: pointer;
}

h1 span
{
    border-bottom: dotted 1px;
}

.couplelog .counts
{
    padding-left: 0.5em;
}

.couplelog .title,
.couplelog .counts
{
    white-space: nowrap;
}

.couplelog .he .count
{
    color: #00f;
}

.couplelog .she .count
{
    color: #f00;
}

.couplelog .in-max .diff
{
    display: none;
}

.couplelog .diff .count-diff
{
    color: #ccc;
}

.couplelog form
{
    padding-top: 1em;
}

.couplelog form .cancel
{
    display: none;
}

.menu
{
    text-align: left;
    background-color:#F9F9F9;
}

div .slide
{
    display: none;
}

div .canvas-container
{
    height: 1.4em;
    overflow: hidden;
}

.setup .menu
{
    display: none;
    margin-bottom: 0.5em;
}

input
{
    margin: 0.5em;
}

.addlog .menu
{
    display: none;
}

.likelogin
{
    margin-bottom: 0.5em;
}

h1.active
{
    color: #00008b;
}

.accept
{
    display: none;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.2em 0;
    background-color: #ffa8a8;
}
